<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	  <properties resource="jdbc.properties"/>
	  
	  <!-- <settings>
	  	<setting name="" value=""/>
	  </settings> -->
	  
	  <typeAliases>
	    <typeAlias type="com.mybatis3.domain.Student" alias="Student"/>
	   
	  </typeAliases>
		
	  <environments default="development">
	    <environment id="development">
	      <transactionManager type="JDBC"/>
	      <dataSource type="POOLED">
	        <property name="driver" value="${jdbc.driverClassName}"/>
	        <property name="url" value="${jdbc.url}"/>
	        <property name="username" value="${jdbc.username}"/>
	        <property name="password" value="${jdbc.password}"/>
	      </dataSource>
	    </environment>
	  </environments>
	  
	  <mappers> 
	    <mapper resource="com/mybatis3/mappers/StudentMapper.xml"/>
	    <mapper resource="com/mybatis3/mappers/AddressMapper.xml"/>
	    <mapper resource="com/mybatis3/mappers/TutorMapper.xml"/>
	    <mapper resource="com/mybatis3/mappers/CourseMapper.xml"/>
	     	   
	  <!-- 
	    <mapper class="com.mybatis3.mappers.StudentMapper"/>	    
	   -->  
	    
	  </mappers>
  	
  	
</configuration>









