<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <typeAliases>
  	<typeAlias type="com.post_trend.news.News" alias="News"/>
  	<typeAlias type="com.post_trend.news.NewsKeyword" alias="Keyword"/>
  	<typeAlias type="com.post_trend.realtime.Realtime" alias="RealTime"/>
  	<typeAlias type="com.post_trend.member.Member" alias="Member"/>
  	<typeAlias type="com.post_trend.favorite.Favorite" alias="Favorite"/>
  </typeAliases>
  
</configuration>