<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.mappers.CourseMapper">
	<resultMap id="courseResult" type="com.mybatis3.domain.Course">
		<id column="COURSE_ID" property="courseId"/>
		<result property="name" column="NAME" />
		<result property="description" column="DESCRIPTION" />
		<result property="startDate" column="START_DATE" />
		<result property="endDate" column="END_DATE" />
		<!-- 
		<result property="tutor" column="tutor" />
		<result property="students" column="students" />
 		-->
	</resultMap>
	
	<select id="findCoursesByTutorId" 
			parameterType="int" 
			resultMap="courseResult">
		<bind name="tid" value="_parameter"/>	
		SELECT * FROM COURSES
		<where>
			<if test="tid!=null">
				TUTOR_ID=#{TUTOR_ID}
			</if>
		</where>
	</select>
	
	<select id="findCourses"
			parameterType="hashmap"
			resultMap="courseResult">
		SELECT *
		FROM COURSES
		<trim prefix="WHERE" prefixOverrides="AND|OR">
			<if test="t_id!=null">	
				TUTOR_ID = #{t_id}
			</if>
			<if test="c_name!=null">	
				AND NAME LIKE '%' || #{c_name} || '%'
			</if>
			<if test="s_date!=null">	
				AND START_DATE >= TO_DATE(#{s_date})
			</if>
		</trim>
	</select>
</mapper>








