<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mybatis3.mappsers.StudentMapper">
	<!-- resultMap -->
	<resultMap id="studentResult" type="com.mybatis3.domain.Student" >
		<result column="STUD_ID" property="studId"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="DOB" property="dob"/>
	</resultMap>
	
	<resultMap id="studentWithAddress" type="Student" >
		<result column="STUD_ID" property="studId"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="DOB" property="dob"/>
		
		<result column="ADDR_ID" property="address.addrId"/>
		<result column="STREET" property="address.street"/>
		<result column="CITY" property="address.city"/>
		<result column="STATE" property="address.state"/>
		<result column="ZIP" property="address.zip"/>
	</resultMap>
	
	<resultMap id="studentWithAddressMapperResult" type="Student" > <!-- address Mapper의 resultMap을 이용하겠다. -->
		<result column="STUD_ID" property="studId"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="DOB" property="dob"/>
		<association property="address" resultMap="com.mybatis3.mappers.AddressMapper.addressResult"/>
	</resultMap>
	
	<resultMap id="studentWithAddressNestedSelectResult" type="Student">
		<result column="STUD_ID" property="studId"/>
		<result column="NAME" property="name"/>
		<result column="EMAIL" property="email"/>
		<result column="DOB" property="dob"/>
		<association property="address"
					 column="ADDR_ID"
					 select="com.mybatis3.mappers.AddressMapper.findAddressById" />
	</resultMap>
	
	
	<!-- select -->
	<select id="findStudentById"
			parameterType="java.lang.Integer"
			resultType="com.mybatis3.domain.Student">
		SELECT STUD_ID AS STUDID, NAME, EMAIL, DOB FROM STUDENTS 
		WHERE STUD_ID = #{STUD_ID}
	</select>
	<select id="findStudentByIdMap"
			parameterType="java.lang.Integer"
			resultType="java.util.Map">
		SELECT STUD_ID AS STUDID, NAME, EMAIL, DOB FROM STUDENTS 
		WHERE STUD_ID = #{STUD_ID} 
	</select>
	<select id="findStudentByIdResultMap"
			parameterType="java.lang.Integer"
			resultMap="studentResult">
		SELECT STUD_ID AS STUDID, NAME, EMAIL, DOB FROM STUDENTS 
		WHERE STUD_ID = #{STUD_ID} 
	</select>
	
	<select 
		id="findAllStudents"
		resultType="Student">
		SELECT STUD_ID AS studId ,NAME,EMAIL,DOB FROM STUDENTS
	</select>
	
	<select 
		id="findAllStudentsResultMap"
		resultMap="studentResult">
		SELECT STUD_ID ,NAME,EMAIL,DOB FROM STUDENTS
	</select>
	
	<select id="findAllStudentsMap"
			resultType="map">
		SELECT STUD_ID AS studId ,NAME,EMAIL,DOB FROM STUDENTS
	</select>
	
	<!-- insert -->
	<insert id="insertStudent"
			parameterType="Student">
		INSERT INTO STUDENTS(STUD_ID, NAME, EMAIL, DOB)
		VALUES
		(#{studId}, #{name}, #{email}, #{dob})	<!-- getter가 호출 된다. -->
	</insert>
	<insert id="insertStudentBySeqence"
			parameterType="Student">
		<selectKey keyProperty="studId" order="BEFORE" resultType="int">
			SELECT STUDENTS_STUD_ID_SEQ.nextval FROM DUAL
		</selectKey>
		INSERT INTO STUDENTS(STUD_ID, NAME, EMAIL, DOB)
		VALUES
		(#{studId}, #{name}, #{email}, #{dob})	<!-- getter가 호출 된다. -->
	</insert>
	<insert id="insertStudentParameterMap"
			parameterType="java.util.Map">
		<selectKey keyProperty="studId" order="BEFORE" resultType="int">
			SELECT STUDENTS_STUD_ID_SEQ.nextval FROM DUAL
		</selectKey>
		INSERT INTO STUDENTS(STUD_ID, NAME, EMAIL, DOB)
		VALUES
		(#{studId}, #{irum}, #{mail}, #{birthday})	<!-- Map의 Key에 따라서 매핑됨 -->
	</insert>
	
	<!-- update -->
	<update id="studentUpdate"
			parameterType="Student">
	
		UPDATE STUDENTS SET 
		NAME = #{name}, 
		EMAIL = #{email}, 
		DOB = #{dob}
		WHERE STUD_ID = #{studId} 
	</update>
	
	<!-- Student, Address -->
	<!-- case1 -->
	<select id="findStudentByIdWithAddress"
			parameterType="int"
			resultMap="studentWithAddressMapperResult">
		select stud_id, name, email, phone, a.addr_id, street, city, state, zip, country
  		FROM students s 
      	left outer join addresses a 
      	on s.addr_id=a.addr_id
      	where s.stud_id=#{stud_id}
	</select>
	
	<!-- case2 -->
	<select id="findStudentByIdNestedfindAddressById"
			resultMap="studentWithAddressNestedSelectResult">
		SELECT STUD_ID, NAME, EMAIL, DOB, ADDR_ID <!-- ADDR_ID를 resultMap에 매핑할 때, 쿼리를 한번더 날리게됨 -->
		FROM STUDENTS
		WHERE
		STUD_ID = #{STUD_ID}
	</select>
</mapper>








