<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.mybatis3.mappers.TutorMapper">
	<resultMap 
		type="com.mybatis3.domain.Tutor" 
		id="tutorWithCoursesAndAddressResult">
		<id property="tutorId" column="TUTOR_ID"/>
		<result property="name" column="TUTOR_NAME"/>
		<result property="email" column="EMAIL"/>
		<association property="address" 
					 resultMap="com.mybatis3.mappers.AddressMapper.addressResult"/>
    	<collection property="courses" 
    				resultMap="com.mybatis3.mappers.CourseMapper.courseResult"/>
    </resultMap>
	
	<resultMap 
			type="com.mybatis3.domain.Tutor" 
			id="tutorNestedSelectResult">
		<id property="tutorId" column="TUTOR_ID"/>
		<result property="name" column="TUTOR_NAME"/>
		<result property="email" column="EMAIL"/>
		<association property="address"
					 select="com.mybatis3.mappers.AddressMapper.findAddressById"
					 column="ADDR_ID"
					 />
    	<collection property="courses" 
    				 select="com.mybatis3.mappers.CourseMapper.findCoursesByTutorId"
    				column="TUTOR_ID"
    				/>
	</resultMap>
	<select id="selectTutorById"
			parameterType="int"
			resultMap="tutorWithCoursesAndAddressResult">
	  SELECT t.tutor_id, t.name as tutor_name, email,
			 a.addr_id, street, city, state, zip, country,
       		 course_id, c.name, description, start_date, end_date
      FROM 
      tutors t LEFT OUTER JOIN addresses a 
      ON t.addr_id=a.addr_id
	  LEFT OUTER JOIN courses c 
	  ON t.tutor_id=c.tutor_id
      WHERE t.tutor_id=#{TUTOR_ID} 
	</select>
	<select id="nestedSelectTutorById"
			parameterType="int"
			resultMap="tutorNestedSelectResult">
		SELECT TUTOR_ID,NAME,EMAIL,ADDR_ID
		FROM TUTORS
		WHERE TUTOR_ID=#{TUTOR_ID}
	</select>
	
</mapper>








